{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Mot de passe réinitialisé" %}{% endblock %}

{% block content %}
<div class="auth-page auth-page-center">
    <div class="auth-card">
        <h1>{% translate "Mot de passe réinitialisé" %}</h1>
        <p>{% translate "Votre mot de passe a bien été mis à jour. Vous pouvez maintenant vous connecter." %}</p>
        <div class="auth-footer">
            <p><a href="{% url 'accounts:login' %}">{% translate "Se connecter" %}</a></p>
        </div>
    </div>
</div>
{% endblock %}
